@model SMLApplication.Data.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Appointment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DoctorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DoctorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PatientId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PatientId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DoctorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
