@model SMLApplication.Data.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Appointment</legend>

    <div class="display-label">
        @Html.DisplayName("Doctor")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Doctor.Name)
    </div>
    
    <div class="display-label">
        @Html.DisplayName("Spcecialization")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Doctor.Specializations.SpecializationName)
    </div>

    <div class="display-label">
        @Html.DisplayName("Patient")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patient.Name)
    </div>

    <div class="display-label">
        @Html.DisplayName("Doctor Feedback")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DoctorFeedBack)
    </div>
    <div class="display-label">
        @Html.DisplayName("Appointment Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AppointmentDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
