@model SMLApplication.Data.Models.Appointment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Appointment</legend>

        @Html.HiddenFor(model => model.AppointmentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorId, "Doctor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DoctorId", "---Select a Doctor---")
            @Html.ValidationMessageFor(model => model.DoctorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientId, "Patient")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PatientId", "---Select a Patient---")
            @Html.ValidationMessageFor(model => model.PatientId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorFeedBack, "Doctor Feedback")
        </div>
        <div class="editor-field">
            @Html.TextArea("DoctorFeedback", new { rows = 10, columns = 40 })
            @Html.ValidationMessageFor(model => model.DoctorFeedBack)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AppointmentDate, "Appointment Date")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AppointmentDate)
            @Html.ValidationMessageFor(model => model.AppointmentDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
